<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h2>WELCOME TO CAMPSHARED!</h2><br>
            <p>This is a display for travel experiences from travellers all over the world!</p><br>
            <a class="btn btn-primary btn-small" href="/camps/new">ADD A NEW POST</a>
        </div>
    </header>

    <div class="card-columns">
      <% campgrounds.forEach(function(camp) { %>
      <div class="card">
        <a href="/camps/<%=camp._id%>"><img src=<%= camp.image %> class="card-img-top" alt="Image can't be found."></a>
        <div class="card-body">
          <h5 class="card-title"><%= camp.name %></h5>
          <p class="card-text"><%= camp.description %></p>
          <p class="card-text"><small class="text-muted"><em>from user <b><%= camp.author.username %></b></em></small></p>
        </div>
      </div>
      <% }) %>
    </div>
</div>

<% include ../partials/footer %>
